assets/scenes
build
.vs
.vscode
imgui.ini
doxygen/
tests/system_test/artifacts
tests/system_test/tmp
output/*
.mypy_cache
tags

# vim backup and temp files
*~
.*.sw*
.sw*

# Temp to ignore all .spv files
*.spv