[submodule "third_party/volk"]
	path = third_party/volk
	url = https://github.com/zeux/volk
[submodule "third_party/glslang"]
	path = third_party/glslang
	url = https://github.com/KhronosGroup/glslang
[submodule "third_party/hwcpipe"]
	path = third_party/hwcpipe
	url = https://github.com/ARM-software/HWCPipe
[submodule "third_party/ktx"]
	path = third_party/ktx
	url = https://github.com/KhronosGroup/KTX-Software
[submodule "third_party/astc"]
	path = third_party/astc
	url = https://github.com/ARM-software/astc-encoder
[submodule "third_party/CTPL"]
	path = third_party/CTPL
	url = https://github.com/vit-vit/CTPL
[submodule "third_party/vulkan"]
	path = third_party/vulkan
	url = https://github.com/KhronosGroup/Vulkan-Headers
[submodule "assets"]
	path = assets
	url = https://github.com/KhronosGroup/Vulkan-Samples-Assets
	shallow = true
[submodule "third_party/opencl"]
	path = third_party/opencl
	url = https://github.com/KhronosGroup/OpenCL-Headers.git
