name: Quality Checks

on:
  pull_request:
    branches: [master]

env:
  TARGET_BRANCH: master

jobs:
  doxygen:
    name: Doxygen Syntax Check
    container: khronosgroup/vulkan-samples
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v2
    - run: mkdir -p doxygen
    - run: doxygen docs/doxygen/doxyfile
    - run: if [ $(stat -c%s doxygen/warnings.txt) -gt 0 ]; then cat doxygen/warnings.txt; exit 1; fi

  copyright_headers:
    name: Copyright Headers Check
    container: khronosgroup/vulkan-samples
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v2
    - run: git fetch origin $TARGET_BRANCH:$TARGET_BRANCH
    - run: python3 /usr/local/bin/check_copyright_headers.py $TARGET_BRANCH

  snake_case_check:
    name: Snake Case Check
    container: khronosgroup/vulkan-samples
    runs-on: ubuntu-latest
    continue-on-error: true
    steps:
    - uses: actions/checkout@v2
    - run: python3 /usr/local/bin/snake_case.py $TARGET_BRANCH > snake-report.txt
    - run: if [ $(grep -c '@@' snake-report.txt) -gt 0 ]; then cat snake-report.txt; exit 1; fi

  clang_format:
    name: Clang Format Check
    container: khronosgroup/vulkan-samples
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v2
    - run: git config clangFormat.binary "clang-format-10"
    - run: git fetch origin $TARGET_BRANCH:$TARGET_BRANCH
    - run: python3 /usr/local/bin/clang_format.py -v --diff $TARGET_BRANCH > clang-format-report.txt
    - run: if [ $(grep -c 'clang-format did not modify any files' clang-format-report.txt) -eq 0  ] && [ $(grep -c 'no modified files to format' clang-format-report.txt) -eq 0  ]; then cat clang-format-report.txt; exit 1; fi
